.main {
    border: solid 1px;
    width: 600px;
    min-height: 400px;
    margin: 1rem auto;
}
.produtos-box{
    border: solid 1px;
    width: 500px;
    min-height: 300px;
    margin: 1rem auto;
}

#cadastro{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 1rem auto;
    padding: 0.5rem;
}
figure{
    background-color: beige;
    width: 380px;
    height: 200px;
    margin: 1rem auto;
}
input, textarea, button {
    margin: 0.5rem;
}